@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,300i,400,400i|Fira+Mono');

body > section {
  line-height: 1.5;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 90%;
}

.footnoteRef {
  padding: 0 5px 0 5px;
}

img {
  max-width: 600px;
}

figure {
  margin: 2em auto 2.5em auto;
  text-align: center;
}

figure img {
  border: 1px solid #DDD;
  box-shadow: 1px 1px 10px #DDD;
  max-width: 900px;
}

figure figcaption {
  font-style: italic;
  font-size: 0.9em;
  margin-top: 5px;
}


table,
.pagedtable-wrapper,
.dataTables_wrapper {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 2rem;
}

table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.pagedtable table {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

table th {
  border-bottom: 1px solid #444;
}

table th,
table td {
  padding: 0 5px 0 5px;
}

.leaflet-container {
  margin-top: 0;
  margin-bottom: 2rem;
}


h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

h1 .header-section-number {
  display: block;
  font-size: 0.8em;
}

h1.title {
  text-align: center;
  font-size: 3em;
}

h4.author,
h4.date {
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 1em;
}

h4.date {
  font-size: 1.1em;
  margin-top: 0;
}

h4.author em,
h4.date em {
  font-style: normal;
}

pre,
code,
pre > code {
    font-family: 'Fira Mono', 'Andale Mono',monospace;
    font-size: .9em;
    background-color: #f7f7f7;
}

p > code,
ul code {
    padding: 2px 1px;
    font-size: 85%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Monaco, 'Fira Mono','Andale Mono',monospace;
}

pre {
  margin-top: 0;
  border-radius: 6px;
  padding: .5em .85em;
}

pre.sourceCode {
  border: 1px solid #e1e1e8;
  margin-top: 10px;
}

/* Environments */

.rmdimportant,
.rmdnote {
  border-radius: 8px;
  padding: 1px 20px 1px 20px;
  margin: 2em 0px;
}

.rmdimportant {
  background-color: #fef4f4;
}

.rmdnote {
  background-color: #f0f4fd;
}

.solution {
  display: none;
  visibility: hidden;
}
