/*-- scss:rules --*/

@import 'fonts.css';

:root {
    --bs-font-sans-serif: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    --bs-font-monospace: 'Fira Mono', 'Andale Mono', monospace;
    --bs-body-font-weight: 300;
    --bs-root-font-size: 16px;
}


/* Grid */

@media (min-width: 992px) {
    .page-columns {
        grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start] minmax(50px, 160px) [page-start-inset] 50px [body-start-outset] 50px [body-start] minmax(3em, 5fr) [body-content-start] minmax(300px, 800px) [body-content-end] minmax(3em, 5fr) [body-end] 50px [body-end-outset] minmax(0px, 100px) [page-end-inset] 50px [page-end] 7fr [screen-end-inset] 1.5em [screen-end] !important
    }
}


/* Sidebar */

#quarto-sidebar {

    color: #333;
    background-color: #fafafa;

    .sidebar-item-container {
        color: #333;
        margin-bottom: 0.5em;

        a.active,
        a:hover {
            color: #0d6efd;
        }
    }

    code {
        font-size: inherit;
        color: inherit;
    }

    .chapter-number {
        font-weight: bold;
    }

    .sidebar-item-section {
        margin-bottom: .7em;
    }

    .sidebar-item-section>.sidebar-item-container:first-child a,
    .sidebar-item-section>.sidebar-item-container:first-child a.active,
    .sidebar-item-section>.sidebar-item-container:first-child a:hover {
        font-weight: bold;
        color: #00368c;
        cursor: pointer;
    }

}


/* Margin sidebar (Toc) */

#quarto-margin-sidebar {
    code {
        font-size: inherit;
        color: inherit;
    }

    ul {
        a:hover {
            color: #0d6efd;
            border-left: 1px solid #0d6efd;
        }
    }

    ul>li>ul>li>a {
        padding: 0.1em 0 0.1em 2em;
        font-size: 90%;
        color: #666;
    }
}



/* Content */

#quarto-document-content {

    /* General styling */

    a,
    .btn-link {
        color: #4183C4;
        text-decoration: none;
    }

    a:hover,
    .btn-link:hover {
        text-decoration: underline;
    }

    strong {
        font-weight: bold;
    }

    p {
        margin-bottom: 0.85em;
    }


    /* Headings */

    #title-block-header {
        margin-block-end: 2rem;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: "Roboto Slab", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
        line-height: 1.25;
        margin-top: 1.275em;
        margin-bottom: 0.85em;
        border: none;

        code {
            color: inherit;
            background: none;
            padding: 0;
        }
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.25em;
    }

    .header-section-number {
        color: inherit;
        padding-right: 0.5em;
    }


    /* Figures */

    p>img {
        margin: 0.5em auto 1.5em auto;
        display: block;
    }

    figure {
        margin: 2em auto 2.5em auto;
        text-align: center;

        img {
            border: 1px solid #DDD;
            box-shadow: 1px 1px 10px #DDD;
        }

        figcaption {
            font-style: italic;
            font-size: 0.9em;
            margin-top: -1em;
        }
    }


    /* Tables */

    table,
    .pagedtable-wrapper,
    .dataTables_wrapper {
        font-size: 0.9em;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    table {
        width: auto;
        margin-left: auto;
        margin-right: auto;

        th,
        td {
            padding: .5em, 1em;
        }
    }

    .pagedtable table {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }


    /* Code */

    pre,
    code,
    pre>code {
        font-family: 'Fira Mono', 'Andale Mono', monospace;
        font-size: .95em;
        color: #555;

        a {
            color: inherit;
        }
    }

    p>code,
    a code,
    ul code,
    ol code {
        padding: 2px 4px;
        font-size: 85%;
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
        font-family: 'Fira Mono', 'Andale Mono', monospace;
    }

    pre {
        border-radius: 6px;
        padding: .8em 1.2em;
        background: #f7f7f7;
    }

    pre.sourceCode {
        background: #f7f7f7;
        margin-top: 0;
        margin-bottom: 0;
        color: inherit;

        code {
            color: inherit;
        }
    }

    div.sourceCode {
        margin-bottom: 1.6em;
        background-color: inherit;
    }

    div.sourceCode+pre {
        margin-top: -1.3em;
    }

    code {

        span.kw,
        span.cf {
            font-weight: 500;
        }

        span.kw,
        span.cf,
        span.op,
        span.er {
            color: #009ad2;
            text-decoration: none;
        }

        span.co,
        span.do {
            color: #696867;
            font-style: normal;
        }
    }


    /* Lists */

    ul {
        margin: 1.5em 0;
        padding: 0 0 0 2.5em;
        list-style-type: none;
    }

    ul>li {
        text-indent: -1.5em;
        margin-bottom: .5em;

        :before {
            content: "— ";
            text-indent: -1.5em;
        }
    }


    /* Callouts */

    .callout {

        padding: .5em;

        .callout-header {
            font-weight: bolder;
            font-size: 110%;
            margin-bottom: .5em;
        }

        .callout-body {
            font-weight: var(--bs-body-font-weight);
        }

        .callout-icon::before {
            height: 1.1rem;
            width: 1.1rem;
            background-size: 1.1rem 1.1rem;
        }

    }

    .callout-warning {
        background-color: #fff9e6;

        .callout-header {
            color: #c7980d;
        }
    }

    .callout-note {
        background-color: #e7f1ff;

        .callout-header {
            color: #2f65b8;
        }
    }


    /* Exercices */

    .solution-link {
        width: 100%;
        text-align: right;
        margin-top: -0.3em;
        margin-bottom: 1.8em;

        a,
        button {
            font-size: 80%;
            box-shadow: none;
        }

        button:before {
            content: "Afficher ";
        }

        button.shown:before {
            content: "Masquer ";
        }
    }

    .solution-exo {
        display: block;
        margin-top: -1.3em;
        margin-bottom: 1.2em;
        padding-left: 1em;
        border-left: 6px solid #4183C4;
        transition: height 0s;
        overflow: hidden;

        div.sourceCode {
            margin: 0;
        }

        pre.sourceCode {
            background-color: #f0f4fd;
        }
    }


    /* Leaflet */

    .leaflet-container {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .leaflet .leaflet-control-container a {
        background-color: #FFF;
        color: #000;
    }

    .leaflet a:hover {
        text-decoration: none;
    }


    /* Footnotes */

    .footnote-back {
        padding-left: .3em;
    }

    .footnote-ref {
        padding: 0 0 0 .2em;
        font-weight: 400;
    }

}