/* Exercices */

#quarto-document-content .solution-link {
    width: 100%;
    text-align: right;
    margin-top: -0.3em;
    margin-bottom: 1.8em;
}

#quarto-document-content .solution-link a,
#quarto-document-content .solution-link button {
    font-size: 80%;
    box-shadow: none;
}

#quarto-document-content .solution-link button:before {
    content: "Afficher ";
}

#quarto-document-content .solution-link button.shown:before {
    content: "Masquer ";
}

#quarto-document-content .solution-exo {
    display: block;
    margin-top: -1.3em;
    margin-bottom: 1.2em;
    padding-left: 1em;
    border-left: 6px solid #4183C4;
    transition: height 0s;
    overflow: hidden;
}

#quarto-document-content .solution-exo div.sourceCode {
    margin: 0;
}

#quarto-document-content .solution-exo p:last-child {
    margin-bottom: 0;
}