@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  letter-spacing: normal;
}

.book .book-body .page-wrapper .page-inner section.normal p > img {
  margin: 0.5em auto 1.5em auto;
  display: block;
}


.book .book-body .page-wrapper .page-inner section.normal .figure {
  margin: 2em auto 2.5em auto;
  text-align: center;
}

.book .book-body .page-wrapper .page-inner section.normal .figure img {
  border: 1px solid #DDD;
  box-shadow: 1px 1px 10px #DDD;
}

.book .book-body .page-wrapper .page-inner section.normal .figure .caption {
  font-style: italic;
  font-size: 0.9em;
  margin-top: 5px;
}


.book .book-body .page-wrapper .page-inner section.normal table,
.book .book-body .page-wrapper .page-inner section.normal .pagedtable-wrapper,
.book .book-body .page-wrapper .page-inner section.normal .dataTables_wrapper {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 2rem;
}

.book .book-body .page-wrapper .page-inner section.normal table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.book .book-body .page-wrapper .page-inner section.normal .pagedtable table {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}


.book .book-body .page-wrapper .page-inner section.normal .leaflet-container {
  margin-top: 0;
  margin-bottom: 2rem;
}


.book.font-family-1,
.book .book-header,
.book .book-summary {
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

.book .book-header {
  font-weight: normal;
}

.book .book-summary li {
  font-size: 1em;
}


.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  padding: 7px 15px;  
}

.book .book-summary ul.summary li a b {
  margin-right: 5px;
} 

.book .book-summary ul.summary > li:first-child  a {
  height: 49px;
  font-size: 1.1em;
  font-weight: 500;
  padding: 15px 15px;  
}

.book .book-summary ul.summary > li.divider {
  margin-top: 0px;
}

.book .book-summary ul.summary li.part span,
.book .book-summary ul.summary li.appendix span {
  opacity: 0.9;
}

.book .book-summary ul.summary li.part span b,
.book .book-summary ul.summary li.appendix span b {
  font-weight: bold; 
  color: #00368c;
}
/* Sepia */
.book.color-theme-1 .book-summary ul.summary li.part span b,
.book.color-theme-1 .book-summary ul.summary li.appendix span b {
  color: #DDD;
}
/* Night */
.book.color-theme-2 .book-summary ul.summary li.part span b,
.book.color-theme-2 .book-summary ul.summary li.appendix span b {
  color: #F9DC6B;
}


.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4 {
  font-family: "Roboto Slab", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.25;
}

.book .book-body .page-wrapper .page-inner section.normal h1 .header-section-number {
  display: block;
  font-size: 0.8em;
}

.book .book-body .page-wrapper .page-inner section.normal h1.title {
  text-align: center;
  font-size: 3em;
}

.book .book-body .page-wrapper .page-inner section.normal .author,
.book .book-body .page-wrapper .page-inner section.normal .date {
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 1em;
}

.book .book-body .page-wrapper .page-inner section.normal .date {
  font-size: 1.1em;
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal .author em,
.book .book-body .page-wrapper .page-inner section.normal .date em {
  font-style: normal;
}

.book .book-body .page-wrapper .page-inner section.normal {
  line-height: 1.5;
}

.book .book-body .page-wrapper .page-inner section.normal pre,
.book .book-body .page-wrapper .page-inner section.normal code,
.book .book-body .page-wrapper .page-inner section.normal pre > code {
    font-family: 'Fira Mono', 'Andale Mono',monospace;
    font-size: .95em;
    color: #777;
}

.book .book-body .page-wrapper .page-inner section.normal pre a,
.book .book-body .page-wrapper .page-inner section.normal code a,
.book .book-body .page-wrapper .page-inner section.normal pre > code a {
    color: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal p > code,
.book .book-body .page-wrapper .page-inner section.normal a code,
.book .book-body .page-wrapper .page-inner section.normal ul code,
.book .book-body .page-wrapper .page-inner section.normal ol code {
    padding: 2px 1px;
    font-size: 85%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: 'Fira Mono','Andale Mono',monospace;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  border-radius: 6px;
  padding: .8em 1.2em;
  background: #f7f7f7;
}

.book .book-body .page-wrapper .page-inner section.normal pre.sourceCode {
  /*border: 1px solid #e1e1e8;*/
  background: #f7f7f7;
  margin-top: 0;
  margin-bottom: 0;
}
.book.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal pre.sourceCode {
  background: #fdf6e3;
}

.book.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal pre.sourceCode {
  background: #2d3143;
}

.book .book-body .page-wrapper .page-inner section.normal pre.sourceCode,
.book .book-body .page-wrapper .page-inner section.normal pre.sourceCode code,
.book .book-body .page-wrapper .page-inner section.normal pre.sourceCode > code {
  color: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal div.sourceCode {
  margin-bottom: 1.6em;
  background-color: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal div.sourceCode+pre {
  margin-top: -1.3em;
}

.book code span.kw,
.book code span.cf {
  font-weight: 500;
}
.book code span.kw,
.book code span.cf,
.book code span.op,
.book code span.er {
  color: #009ad2;
  text-decoration: none;
}
.book.color-theme-1 code span.kw,
.book.color-theme-1 code span.cf,
.book.color-theme-1 code span.op,
.book.color-theme-1 code span.er {
  color: #0057AE;
}
.book.color-theme-2 code span.kw,
.book.color-theme-2 code span.cf,
.book.color-theme-2 code span.op,
.book.color-theme-2 code span.er {
  color: #d2af28;
}

.book .book-body .page-wrapper .page-inner section.normal h1 code,
.book .book-body .page-wrapper .page-inner section.normal h2 code,
.book .book-body .page-wrapper .page-inner section.normal h3 code,
.book .book-body .page-wrapper .page-inner section.normal h4 code {
  color: inherit;
  background: none;
  padding: 0;
}

.book .book-body .page-wrapper .page-inner section.normal h1 code::before,
.book .book-body .page-wrapper .page-inner section.normal h1 code::after,
.book .book-body .page-wrapper .page-inner section.normal h2 code::before,
.book .book-body .page-wrapper .page-inner section.normal h2 code::after,
.book .book-body .page-wrapper .page-inner section.normal h3 code:before,
.book .book-body .page-wrapper .page-inner section.normal h3 code:after,
.book .book-body .page-wrapper .page-inner section.normal h4 code::before,
.book .book-body .page-wrapper .page-inner section.normal h4 code::after {
  content: none;
}


/* Environments */

.book .book-body .page-wrapper .page-inner section.normal .rmdimportant,
.book .book-body .page-wrapper .page-inner section.normal .rmdnote {
  border-radius: 8px;
  padding: 15px 15px 5px 65px;
  margin: 2em 0px;
}

.book .book-body .page-wrapper .page-inner section.normal .rmdimportant {
  background: url('../resources/icons/emblem-important.png') #fef4f4 no-repeat 5px 10px;
  color: #533;
}

.book .book-body .page-wrapper .page-inner section.normal .rmdnote {
  background: url('../resources/icons/help-about.png') #f0f4fd no-repeat 15px 15px;
  color: #335;
}


/* Exercices */

.book .book-body .page-wrapper .page-inner section.normal .solution-link {
  width: 100%;
  text-align: right;
  font-size: 80%;
  margin-top: -0.3em;
  margin-bottom: 1.8em;
}

.book .book-body .page-wrapper .page-inner section.normal .solution-link a:before {
  content: "Afficher ";
}

.book .book-body .page-wrapper .page-inner section.normal .solution-link.shown a:before {
  content: "Masquer ";
}

.book .book-body .page-wrapper .page-inner section.normal .solution-exo {
  margin-top: -1.3em;  
  margin-bottom: 1.2em;
  padding-left: 1em;
  border-left: 6px solid #4183C4;
  display: none;
}

.book .book-body .page-wrapper .page-inner section.normal .solution-exo pre.sourceCode {
  background-color: #f0f4fd;  
}

/* Leaflet styling */

.book .book-body .page-wrapper .page-inner section.normal .leaflet .leaflet-control-container a {
  background-color: #FFF;
  color: #000;
}

.book .book-body .page-wrapper .page-inner section.normal .leaflet a:hover {
  text-decoration: none;
}


/* Footnotes */

.book .book-body .page-wrapper .page-inner section.normal .footnote-back {
  padding-left: .3em;
}
.book .book-body .page-wrapper .page-inner section.normal .footnote-ref {
  padding: 0 0 0 .2em;
  font-weight: 400;
}