/*-- scss:rules --*/

$sidebar-bg: #2d3143;
$sidebar-color: #ccd1e2;
$sidebar-active-link-color: #c2e04e;
$body-link-color: #c2e04e;
$body-color-dark: #333;
$pre-bg: #2d3143;
$pre-color: #9dbed8;

:root {
    --bs-body-bg: #1c1f2b;
    --bs-body-color: #cad2dd;
}

#quarto-sidebar {
    background-color: $sidebar-bg;
    color: $sidebar-color;
    border: none !important;

    .sidebar-item-container {

        a,
        .chapter-number {
            color: $sidebar-color;
        }

        a.active,
        a:hover {
            color: $sidebar-active-link-color;
        }
    }

    .sidebar-item-section>.sidebar-item-container:first-child a,
    .sidebar-item-section>.sidebar-item-container:first-child a.active,
    .sidebar-item-section>.sidebar-item-container:first-child a:hover {
        color: #ffd700;
    }

    #quarto-search {
        form {
            background-color: $pre-bg;
            border-color: $pre-color;
            color: $pre-color;

            svg,
            input {
                color: $pre-color !important;
            }
        }
    }

}

#quarto-margin-sidebar {

    a.active,
    a:hover {
        color: $sidebar-active-link-color !important;
        border-color: $sidebar-active-link-color !important;
    }

    a {
        border-color: #555;
    }

    ul>li>ul>li>a {
        color: #999;
    }

}

#quarto-document-content {
    #title-block-header .quarto-title-meta-contents a {
        color: var(--bs-body-color);
    }

    a,
    .btn-link {
        color: $body-link-color;
    }

    figure {
        img {
            border: none;
            box-shadow: none;
        }

        figcaption {
            color: var(--bs-body-color);
        }
    }

    pre,
    code,
    pre>code,
    pre.sourceCode {
        color: $pre-color;
        background-color: $pre-bg;
    }

    p>code,
    a code,
    ul code,
    ol code {
        color: $pre-color;
        background-color: $pre-bg;
        border-color: $pre-bg;
    }

    code {

        span.co,
        span.do {
            color: #8e8d8c;
        }
    }

    .callout {
        color: $body-color-dark;

        code {
            color: $body-color-dark;
            background: none;
            border-color: none;
        }
    }
}

#quarto-content {
    .nav-page {
        a {
            color: var(--bs-body-color);
        }
    }
}