*.Rproj
.Rproj.user
.Rhistory
.RData
_bookdown_files
rsconnect
introduction_au_tidyverse.md
introduction_au_tidyverse.knit.md
introduction_au_tidyverse.Rmd
introduction_au_tidyverse.log
*.orig
*.log
/libs
*~
.vscode/
renv/
.cache/
_book/
_freeze/
*_files/
*_cache/
/.quarto/
