@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i');


.book .book-body .page-wrapper .page-inner section.normal .figure {
  margin: 2em auto 2.5em auto;
  text-align: center;
}

.book .book-body .page-wrapper .page-inner section.normal .figure .caption {
  font-style: italic;
  font-size: 0.9em;
}


.book .book-body .page-wrapper .page-inner section.normal table,
.book .book-body .page-wrapper .page-inner section.normal .pagedtable-wrapper {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 2rem;
}


.book.font-family-1,
.book .book-header,
.book .book-summary {
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

.book .book-header {
  font-weight: normal;
}


.book .book-summary {
  font-weight: normal;
  font-size: 1em;
}

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  padding: 7px 15px;  
}

.book .book-summary ul.summary > li:first-child  a {
  font-size: 1em;
  font-weight: bold;
  padding: 11px 15px;  
}

.book .book-summary ul.summary > li:last-child  a {
  font-size: 0.9em;
}


.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4 {
  font-family: "Roboto Slab", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.book .book-body .page-wrapper .page-inner section.normal h1 .header-section-number {
  display: block;
  font-size: 0.8em;
}

.book .book-body .page-wrapper .page-inner section.normal h1.title {
  text-align: center;
  font-size: 3em;
}

.book .book-body .page-wrapper .page-inner section.normal h4.author,
.book .book-body .page-wrapper .page-inner section.normal h4.date {
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 1em;
}

.book .book-body .page-wrapper .page-inner section.normal h4.date {
  font-size: 1.1em;
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal h4.author em,
.book .book-body .page-wrapper .page-inner section.normal h4.date em {
  font-style: normal;
}

.book .book-body .page-wrapper .page-inner section.normal {
  line-height: 1.5;
}

.book .book-body .page-wrapper .page-inner section.normal p > code {
    padding: 2px 1px;
    font-size: 85%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Consolas, Monaco,'Andale Mono',monospace;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  font-family: Consolas, Monaco,'Andale Mono',monospace;
  border-radius: 4px;
}

.book .book-body .page-wrapper .page-inner section.normal pre.sourceCode {
  background: #f7f7f7;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: .5em .85em;
  margin-top: 10px;
}